{
  "presets": ["babel-preset-expo", "es2015", "react"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": ["transform-object-rest-spread", "lodash"]
}
