{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", "jsx"] }],
    "no-trailing-spaces": ["error", {"skipBlankLines": true}],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }],
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "space-before-function-paren": ["error", "never"],
    "jsx-a11y/no-static-element-interactions": 0
  },
  "globals": {
  }
}
